@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (max-width: 390px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 391px) and (max-width: 760px) {
  html {
    font-size: 14px;
  }
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 760px) {
  header {
    overflow-y: hidden;
  }
  header nav {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #221a1a;
    top: -500%;
    left: 0;
    z-index: 2;
    transition: all 0.5s;
  }
  header nav a {
    margin: 25px 0;
  }
  header .btn-menu {
    display: flex;
  }
}
@media screen and (max-width: 490px) {
  .accueil__title {
    margin-bottom: 50px;
  }
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12rem;
  background-image: url("/images/background--header.png");
  background-position: bottom;
  background-size: cover;
}
header div {
  height: 100%;
}
header div img {
  min-width: 100%;
  height: 100%;
}

nav {
  width: min(50vw, 500px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav a {
  color: #f0f6ea;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  padding: 10px;
  z-index: 1;
}
nav a::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffcc34;
  opacity: 0;
}
nav a:hover::after {
  opacity: 0.5;
  z-index: -1;
}
nav a:hover {
  color: black;
}

.selected {
  background-color: #ffcc34;
  border-radius: 10px;
  color: black;
}

.btn-menu {
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 28px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 3;
}
.btn-menu:focus {
  outline: none;
}
.btn-menu__bars {
  display: block;
  position: relative;
  width: 32px;
  height: 4px;
  background-color: #ffcc34;
  transition: 0.5s;
}
.btn-menu__bars:before, .btn-menu__bars:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffcc34;
  transition: 0.5s;
}
.btn-menu__bars:before {
  transform: translate(0, -12px);
}
.btn-menu__bars:after {
  transform: translate(0, 12px);
}
.menu-open .btn-menu .btn-menu__bars {
  background-color: transparent;
}
.menu-open .btn-menu .btn-menu__bars:before {
  transform: rotate(45deg);
}
.menu-open .btn-menu .btn-menu__bars:after {
  transform: rotate(-45deg);
}

footer {
  background-color: #221a1a;
  font-family: "Poppins", sans-serif;
  color: #f0f6ea;
}

.information {
  width: min(90%, 400px);
  margin-inline: auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 760px) {
  .information {
    flex-direction: column;
  }
  .information span {
    margin: 3px;
  }
}

.section--copyright span {
  display: block;
  width: min(80vw, 500px);
  margin-inline: auto;
  height: 3px;
  background-color: #ffcc34;
}

.container--copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 760px) {
  .container--copyright {
    flex-direction: column;
  }
  .container--copyright p {
    margin-bottom: 18px;
  }
}

.copyright img {
  width: 150px;
  height: 150px;
}

.logo--media a {
  color: #f0f6ea;
  font-size: 2.5rem;
  margin-inline: 5px;
}
.logo--media a:hover {
  color: #ffcc34;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: none;
  background-color: #221a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.loading__logo {
  width: 150px;
  height: 150px;
  animation: loader 2.5s ease infinite;
}
.loading__logo img {
  width: 100%;
  height: 100%;
}

.container {
  display: none;
  transition: all 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.accueil {
  height: calc(100vh - 12rem);
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accueil__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}
.accueil__title {
  width: 90%;
  overflow: hidden;
}
.accueil__title .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.accueil__title__value {
  min-width: 100%;
  color: #f0f6ea;
  font-size: clamp(1.5625rem, 0.4632rem + 4.5098vw, 3rem);
  animation: fadeIn 5s ease infinite forwards;
}
.accueil__blur {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #313835;
  opacity: 0.5;
}
.accueil a {
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 50%);
}
.accueil a button {
  border: none;
  border-radius: 2px;
  padding: 15px;
  transform: translate(-10px, -10px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #3f3634;
  cursor: pointer;
  background-color: #ffcc34;
}
.accueil a button:hover {
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.apropos {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apropos__title {
  color: #3f3634;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin: 50px 50px 50px 50px;
}
.apropos__title span {
  color: #ffcc34;
}
.apropos aside {
  width: min(90vw, 900px);
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 20px 0 black;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media screen and (max-width: 760px) {
  .apropos aside {
    margin: 20px auto;
  }
}
.apropos aside p {
  padding: 15px;
  color: #3f3634;
  font-family: "Poppins", sans-serif;
  min-width: 100%;
  font-weight: 300;
  word-spacing: 2px;
}
.apropos__aside1, .apropos__aside3 {
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.apropos__aside2, .apropos__aside4 {
  transform: translateX(90%);
  opacity: 0;
  transition: all 0.5s;
}
.apropos div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.apropos div a {
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  margin: 30px;
  opacity: 0;
  transition: all 0.5s;
}
.apropos div a button {
  border: none;
  border-radius: 2px;
  padding: 15px;
  transform: translate(-10px, -10px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #3f3634;
  cursor: pointer;
  background-color: #ffcc34;
}
.apropos div a button:hover {
  color: black;
}

.apropos__aside1.scrolled, .apropos__aside3.scrolled {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (max-width: 760px) {
  .apropos__aside1.scrolled, .apropos__aside3.scrolled {
    transform: translateX(0);
  }
}

.apropos__aside2.scrolled, .apropos__aside4.scrolled {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (max-width: 760px) {
  .apropos__aside2.scrolled, .apropos__aside4.scrolled {
    transform: translateX(0);
  }
}

div a.scrolled {
  opacity: 1;
}

.services {
  background-color: cornsilk;
}
.services__barre {
  display: block;
  width: min(90%, 610px);
  height: 5px;
  border-radius: 10px;
  background-color: #3f3634;
  margin: 40px auto;
}
.services__title {
  color: #3f3634;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin: 50px 50px 50px 50px;
}
.services__title span {
  color: #ffcc34;
}
.services__description {
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding: 10px 30px 30px 30px;
  line-height: 2rem;
}
.services__description span {
  font-weight: 700;
  background-color: whitesmoke;
}
.services aside {
  width: min(90%, 500px);
  margin: 90px auto;
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.services aside div {
  border: 2px solid #3f3634;
  background-color: ivory;
  transform: translate(-40px, -40px);
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 760px) {
  .services aside div {
    transform: translate(0, 0);
  }
}
.services aside div li {
  margin: 30px;
}
.services aside div span {
  display: block;
  width: min(90%, 300px);
  margin: 10px auto;
  height: 2px;
  border-radius: 10px;
  background-color: #3f3634;
}
.services aside p {
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
.services__call {
  text-align: center;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  padding: 0 100px 40px 100px;
  opacity: 0;
  transition: opacity 0.5s;
}
@media screen and (max-width: 760px) {
  .services__call {
    padding: 0 30px 40px 30px;
  }
}

.services__description.scrolled, aside.scrolled, .services__call.scrolled {
  opacity: 1;
}

.contact__title {
  color: #3f3634;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin: 50px 50px 30px 50px;
}
.contact__title span {
  color: #ffcc34;
}
.contact__action {
  text-align: center;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding: 10px 30px 30px 30px;
  line-height: 2rem;
  opacity: 0;
  transition: opacity 0.5s;
}
.contact__calendly {
  opacity: 0;
  transition: opacity 0.5s;
}
@media screen and (max-width: 760px) {
  .contact__calendly .calendly {
    height: 1100px;
  }
}

.contact__action.scrolled, .contact__calendly.scrolled {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */