@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-image: url("/images/background--header.png");
  background-position: bottom;
  background-size: cover;
}
header div {
  height: 100%;
}
header div img {
  min-width: 100%;
  height: 100%;
}

nav {
  width: min(50vw, 500px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav a {
  color: #f0f6ea;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  padding: 10px;
  z-index: 1;
}
nav a::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffcc34;
  opacity: 0;
}
nav a:hover::after {
  opacity: 0.5;
  z-index: -1;
}
nav a:hover {
  color: black;
}

.selected {
  background-color: #ffcc34;
  border-radius: 10px;
  color: black;
}

.accueil {
  height: calc(100vh - 200px);
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accueil__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}
.accueil__title {
  width: 90%;
  overflow: hidden;
}
.accueil__title .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.accueil__title__value {
  min-width: 100%;
  color: #f0f6ea;
  font-size: 3.5rem;
  animation: fadeIn 5s ease-in-out infinite;
}
.accueil__blur {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #313835;
  opacity: 0.5;
}
.accueil a {
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 50%);
}
.accueil a button {
  border: none;
  border-radius: 2px;
  padding: 15px;
  transform: translate(-10px, -10px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #3f3634;
  cursor: pointer;
}
.accueil a button:hover {
  background-color: #ffcc34;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.apropos {
  overflow-x: hidden;
  position: relative;
}
.apropos__title {
  color: #3f3634;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin: 50px;
}
.apropos aside {
  position: relative;
  width: min(80vw, 1000px);
  margin: 50px 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 20px 0 black;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.apropos aside span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}
.apropos aside p {
  padding: 15px;
  color: #3f3634;
  font-family: "Poppins", sans-serif;
  min-width: 100%;
  font-weight: 300;
  word-spacing: 2px;
}
.apropos__aside1, .apropos__aside3 {
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.apropos__aside2, .apropos__aside4 {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s;
}
.apropos a {
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  transform: translateX(350%);
  margin: 30px;
}
.apropos a button {
  border: none;
  border-radius: 2px;
  padding: 15px;
  transform: translate(-10px, -10px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #3f3634;
  cursor: pointer;
}
.apropos a button:hover {
  background-color: #ffcc34;
  color: black;
}

.apropos__aside1.scrolled, .apropos__aside3.scrolled {
  transform: translateX(0);
  opacity: 1;
}

.apropos__aside2.scrolled, .apropos__aside4.scrolled {
  transform: translateX(50%);
  opacity: 1;
}/*# sourceMappingURL=index.css.map */