.accueil{
    height: calc(100vh - 12rem);
    position: relative;
    font-family: $font;
    text-align: center;
    @include flexbox($direction: column);

    &__background{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
        object-fit: cover;
    }
    // creation du slider des textes
    &__title{
        width: 90%;
        overflow: hidden;
        animation: fadeIn 5s ease infinite forwards;
        .slider{
            @include flexbox($justify: space-between) ;
             
        }
        &__value{
            min-width: 100%;
            color: $color--text;
            font-size: clamp(1.5625rem, 0.4632rem + 4.5098vw, 3rem);
            

        }
    }
    &__blur{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: #313835;
        opacity: 0.5;

    }
    // creation du boutton en savoir plus
    a{
        display: inline-block;
        border: 2px solid black;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, 50%);
        
        
        button{
           @include button;
        }
    }

}

// animation keyframes
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}