.apropos{
    overflow-x: hidden;
    position: relative;
    &__title{
        @include colorTitle;
    }
    aside{
        position: relative;
        width: Min(60vw, 1000px);
        margin: 50px 0;
        @media screen and (max-width: 760px) {
            margin: 50px auto;
            width: Min(95vw, 1000px);
        }
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 20px 0 $color--hover--header;
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        p{
            padding: 15px;
            color: $color--hover--button;
            font-family: $font;
            min-width: 100%;
            font-weight: 300;
            word-spacing: 2px;
        }
    }
    &__aside1, &__aside3{
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.5s;
    }
    &__aside2, &__aside4{
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.5s;
    }

    // creation button
    div{
        width: 100%;
        @include flexbox;
        a{
            display: inline-block;
            border: 2px solid black;
            border-radius: 2px;
            margin: 30px;
            opacity: 0;
            transition: all 0.5s;
            
            button{
               @include button;
    
            }
        }
    }
}


// animation all fade

.apropos__aside1.scrolled, .apropos__aside3.scrolled{
    transform: translateX(30%);
    opacity: 1;
    @media screen and (max-width: 760px) {
        transform: translateX(0);
    }
}
.apropos__aside2.scrolled, .apropos__aside4.scrolled{
    transform: translateX(50%);
    opacity: 1;
    @media screen and (max-width: 760px) {
        transform: translateX(0);

    }
    
}
div a.scrolled{
    opacity: 1;
}
