.contact{
    &__title{
        @include colorTitle($marginbt: 30px);
    }
    &__action{
        @include descriptionTitle;
        opacity: 0;
        transition: opacity 0.5s;
    }
    &__calendly{
        opacity: 0;
        transition: opacity 0.5s;
        min-height: 0px;
        .calendly{
            @media screen and (max-width: 760px) {
                height: 1050px;
            }
        }
    }
   
}

// animation fade in de chaque partie du bloc

.contact__action.scrolled, .contact__calendly.scrolled{
    opacity: 1;
}
