// center bloc
@mixin flexbox ($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin button {
    border: none;
    border-radius: 2px;
    padding: 15px;
    transform: translate(-10px, -10px);
    font-family: $font;
    font-weight: 500;
    font-size: 1.2rem;
    color: $color--hover--button;
    cursor: pointer;
    background-color: $color--hover--background;
    &:hover{
        color: $color--hover--header;
    }
}

@mixin colorTitle ($marginbt: 50px) {
        color: $color--hover--button;
        font-family: $font;
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
        margin: 50px 50px $marginbt 50px;
        span{
            color: $color--hover--background;
        }
}

@mixin descriptionTitle {
    text-align: center;
        font-weight: 400;
        font-family: $font;
        padding: 10px 30px 30px 30px;
        line-height: 2rem;
}
@mixin border {
    border-top: none;
    border-left: none;
    border-right: none;
}