footer{
    background-color: $color--footer;
    font-family: $font;
    color: $color--text;
}

.information{
    width: Min(90%, 400px);
    margin-inline: auto;
    padding: 50px 0;
    @include flexbox($justify: space-around);

    @media screen and (max-width: 760px) {
        flex-direction: column;
        span{
            margin: 3px;
        }
    }
}

.section--copyright{
    span{
        display: block;
        width: Min(80vw, 500px);
        margin-inline: auto;
        height: 3px;
        background-color: $color--hover--background;
    }
}

.container--copyright{
    @include flexbox($justify: space-around);

    @media screen and (max-width: 760px) {
        flex-direction: column;
        p{
            margin-bottom: 18px;
        }
    }
}
.copyright img{
    width: 150px;
    height: 150px;
}

.logo--media a{
    color: $color--text;
    font-size: 2.5rem;
    margin-inline: 5px;
    &:hover{
        color: $color--hover--background;
    }
    

}
